<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NearMeServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>NearbyPoi</display-name>
    <servlet-name>NearbyPoiServlet</servlet-name>
    <servlet-class>com.nearme.NearbyPoiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NearbyPoiServlet</servlet-name>
    <url-pattern>/nearme/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>AddressBook</display-name>
    <servlet-name>AddressBookServlet</servlet-name>
    <servlet-class>com.nearme.AddressBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressBookServlet</servlet-name>
    <url-pattern>/addressBook/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Permissions</display-name>
    <servlet-name>PermissionsServlet</servlet-name>
    <servlet-class>com.nearme.PermissionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionsServlet</servlet-name>
    <url-pattern>/permissions/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>Unsubscribe</display-name>
    <servlet-name>UnsubscribeServlet</servlet-name>
    <servlet-class>com.nearme.UnsubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsubscribeServlet</servlet-name>
    <url-pattern>/unsubscribe/*</url-pattern>
  </servlet-mapping>
  
  <resource-ref> 
<description>DB Connection</description> 
<res-ref-name>jdbc/nearme</res-ref-name> 
<res-type>javax.sql.DataSource</res-type> 
<res-auth>Container</res-auth> 
</resource-ref> 


  

</web-app>